# Make of copy of this file, rename it to .env and then next time you start up do docker compose up --build, so that the env gets loaded
AGNET_SECTION_KEY=HIvnNIkD0leWhchFENJDPuW2Y_K2B-LTHeas79pqfkbVQVan